In [42]:
import numpy as np
import pandas as pd
import os
import json
import avro.schema
from avro.datafile import DataFileReader, DataFileWriter
from avro.io import DatumReader, DatumWriter

In [55]:
rawdata = pd.read_csv('datarawest.csv')

In [13]:
data = pd.read_csv('data.csv')

In [193]:
data

,Unnamed: 0,date,timestamp,user1,userid,articleid,carousel_index
0,0,0,0,0,0,0,0
1,1,20190501,1556672390164,1,-1,1678,1
2,2,20190501,1556672070950,2,-1,758,2
3,3,20190501,1556672927333,2,-1,5119,3
4,4,20190501,1556673239517,2,-1,5202,0
5,5,20190501,1556673298217,2,-1,5202,0
6,6,20190501,1556673301123,2,-1,5202,0
7,7,20190501,1556673302715,2,-1,5202,0
8,8,20190501,1556673303303,2,-1,5202,0
9,9,20190501,1556673329416,2,-1,5016,7
10,10,20190501,1556674348087,2,-1,4839,3
11,11,20190501,1556676917611,3,-1,213,1
12,12,20190501,1556677200534,3,-1,213,1
13,13,20190501,1556678226286,3,-1,1158,3
14,14,20190501,1556679149547,3,-1,4848,2
15,15,20190501,1556676616669,4,-1,5245,2
16,16,20190501,1556676616724,4,-1,5245,2
17,17,20190501,1556676666166,4,-1,460,1
18,18,20190501,1556676860204,4,-1,5224,5
19,19,20190501,1556676949696,4,-1,4746,4
20,20,20190501,1556677000808,4,-1,757,2
21,21,20190501,1556677071422,4,-1,4981,19
22,22,20190501,1556677846789,4,-1,5225,4
23,23,20190501,1556677847119,4,-1,5225,4
24,24,20190501,1556678949322,4,-1,5098,0
25,25,20190501,1556679281884,5,-1,458,2
26,26,20190501,1556679396543,5,-1,458,2
27,27,20190501,1556679514772,5,-1,458,2
28,28,20190501,1556679671375,5,-1,5250,0
29,29,20190501,1556679753008,5,-1,5249,0
...,...,...,...,...,...,...,...
76757,76757,20190624,1561347359316,2598,-1,5243,0
76758,76758,20190624,1561347397374,2598,-1,8004,0
76759,76759,20190624,1561347415950,2598,-1,2311,0
76760,76760,20190624,1561347495372,2598,-1,8020,1
76761,76761,20190624,1561347502972,2598,-1,8020,0
76762,76762,20190624,1561347503677,2598,-1,8020,0
76763,76763,20190624,1561347710144,2598,-1,2918,3
76764,76764,20190624,1561347727416,2598,-1,2311,0
76765,76765,20190624,1561347763399,2598,-1,2311,0
76766,76766,20190624,1561347765089,2598,-1,2311,0
76767,76767,20190624,1561347776831,2598,-1,1677,0
76768,76768,20190624,1561347824196,2598,-1,2311,0
76769,76769,20190624,1561347850949,2598,-1,2743,3
76770,76770,20190624,1561347861769,2598,-1,7927,3
76771,76771,20190624,1561347884656,2598,-1,4731,3
76772,76772,20190624,1561348088796,2598,-1,8018,1
76773,76773,20190624,1561348135397,2598,-1,2918,3
76774,76774,20190624,1561348262575,2598,-1,2304,1
76775,76775,20190624,1561348274412,2598,-1,2311,0
76776,76776,20190624,1561348470975,2598,-1,6922,3
76777,76777,20190624,1561348771899,2598,-1,2311,0
76778,76778,20190624,1561349133910,2598,-1,8000,12
76779,76779,20190624,1561349330958,2598,-1,8030,0
76780,76780,20190624,1561349472182,2598,-1,8024,0
76781,76781,20190624,1561349473303,2598,-1,8024,0
76782,76782,20190624,1561349537758,2598,-1,8017,0
76783,76783,20190624,1561349812387,2598,-1,7927,3
76784,76784,20190624,1561349854162,2598,-1,2635,3
76785,76785,20190624,1561350197052,2598,-1,8031,0
76786,76786,20190624,1561350372275,2598,-1,7875,2

In [210]:
data['articleid'].value_counts()

5934    451
6061    355
3283    323
5978    318
4005    316
1158    263
4159    253
6521    241
21      228
5673    221
4073    216
1408    212
757     183
7160    172
1674    168
6018    162
6916    158
6078    158
5098    156
5810    156
6876    156
3629    155
4144    153
6980    149
1723    145
5357    144
5464    141
1509    138
7026    136
6896    135
       ...
4313      1
4377      1
4441      1
923       1
3163      1
3034      1
5145      1
1051      1
3162      1
3418      1
3866      1
3227      1
5144      1
3737      1
7002      1
1752      1
4057      1
2392      1
2456      1
4507      1
4699      1
1049      1
5080      1
4568      1
2651      1
4760      1
6937      1
2843      1
2907      1
0         1
Name: articleid, Length: 4931, dtype: int64

In [24]:
a = pd.DataFrame(article)

## Now we import the information about the article carousel

In [186]:
carousel1 = pd.read_csv('./New data collected/Carousel articedata/201905.csv')
carousel2 = pd.read_csv('./New data collected/Carousel articedata/201906.csv')
carousel3 = pd.read_csv('./New data collected/Carousel articedata/201907.csv')

In [188]:
carousel = carousel1.append(carousel2,ignore_index=True)
carousel = carousel.append(carousel3,ignore_index=True)
carousel

,created_on,event,wtl
0,2019-05-13 11:41:26.634011+00:00,2,"['article:5846', 'article:5845', 'article:5844..."
1,2019-05-13 11:50:34.904724+00:00,2,"['article:5846', 'article:5845', 'article:5844..."
2,2019-05-13 11:52:30.268152+00:00,1,"['article:5847', 'article:5846', 'article:5845..."
3,2019-05-13 11:55:42.798434+00:00,1,"['article:5848', 'article:5847', 'article:5846..."
4,2019-05-13 11:59:18.886706+00:00,2,"['article:5848', 'article:5847', 'article:5846..."
5,2019-05-13 12:00:22.495387+00:00,2,"['article:5848', 'article:5847', 'article:5846..."
6,2019-05-13 12:02:10.838256+00:00,2,"['article:5848', 'article:5847', 'article:5846..."
7,2019-05-13 12:03:10.523981+00:00,2,"['article:5848', 'article:5847', 'article:5846..."
8,2019-05-13 12:03:25.938017+00:00,2,"['article:5848', 'article:5847', 'article:5846..."
9,2019-05-13 12:37:39.521257+00:00,1,"['live:542', 'article:5848', 'article:5847', '..."
10,2019-05-13 12:58:11.238767+00:00,1,"['article:5851', 'live:542', 'article:5848', '..."
11,2019-05-13 12:59:43.549077+00:00,2,"['live:542', 'article:5851', 'article:5848', '..."
12,2019-05-13 13:01:08.264514+00:00,2,"['live:542', 'article:5851', 'article:5848', '..."
13,2019-05-13 13:09:32.041973+00:00,2,"['live:542', 'article:5851', 'article:5848', '..."
14,2019-05-13 13:10:39.142608+00:00,2,"['live:542', 'article:5851', 'article:5848', '..."
15,2019-05-13 13:17:53.078658+00:00,1,"['article:5849', 'live:542', 'article:5851', '..."
16,2019-05-13 13:18:54.332885+00:00,2,"['article:5849', 'live:542', 'article:5851', '..."
17,2019-05-13 13:21:52.852143+00:00,1,"['article:5852', 'article:5849', 'live:542', '..."
18,2019-05-13 13:36:05.668334+00:00,1,"['original:514', 'article:5852', 'article:5849..."
19,2019-05-13 13:42:06.563479+00:00,1,"['original:516', 'original:514', 'article:5852..."
20,2019-05-13 13:43:35.014315+00:00,1,"['original:515', 'original:516', 'original:514..."
21,2019-05-13 13:57:45.661476+00:00,1,"['article:5853', 'original:515', 'original:516..."
22,2019-05-13 13:58:10.423573+00:00,2,"['article:5853', 'original:515', 'original:516..."
23,2019-05-13 14:02:19.692465+00:00,2,"['article:5853', 'original:515', 'original:516..."
24,2019-05-13 14:12:08.966526+00:00,2,"['article:5853', 'original:515', 'original:516..."
25,2019-05-13 14:14:39.892364+00:00,1,"['article:5854', 'article:5853', 'original:515..."
26,2019-05-13 14:15:45.554586+00:00,1,"['article:5855', 'article:5854', 'article:5853..."
27,2019-05-13 14:21:05.156715+00:00,1,"['article:5856', 'article:5855', 'article:5854..."
28,2019-05-13 14:37:29.360174+00:00,2,"['article:5856', 'article:5855', 'article:5854..."
29,2019-05-13 14:38:25.187518+00:00,2,"['article:5856', 'article:5855', 'article:5854..."
...,...,...,...
26202,2019-07-18 13:13:23.634620+00:00,2,"['article:9601', 'article:9599', 'live:744', '..."
26203,2019-07-18 13:15:35.322281+00:00,2,"['article:9601', 'article:9599', 'live:744', '..."
26204,2019-07-18 13:23:22.273575+00:00,1,"['article:9603', 'article:9601', 'article:9599..."
26205,2019-07-18 13:23:59.657903+00:00,1,"['article:9604', 'article:9603', 'article:9601..."
26206,2019-07-18 13:28:12.449427+00:00,2,"['article:9604', 'article:9603', 'article:9601..."
26207,2019-07-18 13:32:47.880356+00:00,1,"['original:716', 'article:9604', 'article:9603..."
26208,2019-07-18 13:39:46.555402+00:00,1,"['article:9606', 'original:716', 'article:9604..."
26209,2019-07-18 13:55:43.660490+00:00,2,"['article:9606', 'original:716', 'article:9604..."
26210,2019-07-18 13:55:47.209138+00:00,2,"['article:9606', 'original:716', 'article:9604..."
26211,2019-07-18 13:56:13.865550+00:00,2,"['article:9606', 'original:716', 'article:9604..."
26212,2019-07-18 13:59:13.568153+00:00,2,"['article:9606', 'original:716', 'article:9604..."
26213,2019-07-18 14:00:55.121044+00:00,2,"['article:9606', 'original:716', 'article:9604..."
26214,2019-07-18 14:01:17.852665+00:00,1,"['podcast:342', 'article:9606', 'original:716'..."
26215,2019-07-18 14:01:50.051915+00:00,2,"['podcast:342', 'article:9606', 'original:716'..."
26216,2019-07-18 14:02:16.256974+00:00,2,"['podcast:342', 'article:9606', 'original:716'..."
26217,2019-07-18 14:03:10.877782+00:00,2,"['podcast:342', 'article:9606', 'original:716'..."
26218,2019-07-18 14:05:02.318904+00:00,2,"['podcast:342', 'article:9606', 'original:716'..."
26219,2019-07-18 14:11:19.823979+00:00,2,"['podcast:342', 'article:9606', 'original:716'..."
26220,2019-07-18 14:11:54.306979+00:00,1,"['article:9605', 'podcast:342', 'article:9606'..."
26221,2019-07-18 14:12:13.111275+00:00,1,"['article:9607', 'article:9605', 'podcast:342'..."
26222,2019-07-18 14:13:14.088492+00:00,2,"['article:9607', 'article:9605', 'podcast:342'..."
26223,2019-07-18 14:15:22.861732+00:00,1,"['article:9608', 'article:9607', 'article:9605..."
26224,2019-07-18 14:16:25.408367+00:00,2,"['article:9608', 'article:9607', 'article:9605..."
26225,2019-07-18 14:21:18.501572+00:00,2,"['article:9608', 'article:9607', 'article:9605..."
26226,2019-07-18 14:21:38.707712+00:00,2,"['article:9608', 'article:9607', 'article:9605..."
26227,2019-07-18 14:24:51.239718+00:00,2,"['article:9608', 'article:9537', 'article:9607..."
26228,2019-07-18 14:28:42.818273+00:00,2,"['article:9608', 'article:9537', 'article:9607..."
26229,2019-07-18 14:29:40.795658+00:00,2,"['article:9608', 'article:9537', 'article:9607..."
26230,2019-07-18 14:34:53.170374+00:00,2,"['article:9608', 'article:9537', 'article:9607..."
26231,2019-07-18 14:36:39.723465+00:00,1,"['article:9610', 'article:9608', 'article:9537..."

In [79]:
a = carousel['wtl'][0][2:-2]
b = a.split(",")
c = []
for i in range(len(b)):
    temp = b[i].split(':')
    c.append(int(temp[1][:-1]))
pd.DataFrame(c)

       0
0   5846
1   5845
2   5844
3   5843
4   5842
5   5840
6   5839
7   5837
8   5836
9   5835
10  5834
11   513
12  5833
13  5832
14    23

In [114]:
s = carousel['created_on'][100][:10]
int(s.replace('-',''))

20190514

In [189]:
carousel_data = pd.DataFrame()
date = []
for i in tqdm(range (carousel.shape[0])):
    a = carousel['wtl'][i][2:-2]
    b = a.split(",")
    c = []
    for k in range(len(b)):
        temp = b[k].split(':')
        c.append(int(temp[1][:-1]))
    pd.DataFrame(c)
    carousel_data = carousel_data.append(c,ignore_index=True)
    s = carousel['created_on'][i][:10]
    for j in range(15):
        date.append(int(s.replace('-','')))   
carousel_data['date'] = pd.DataFrame(date)

100%|███████████████████████████████████████████████████████████████████████████| 26232/26232 [00:34<00:00, 752.74it/s]

In [197]:
i1 = (carousel_data['date'].apply(lambda x: int(x)) < 20190625)
i2 = (carousel_data['date'].apply(lambda x: int(x)) > 20190501)
i3 =i1 & i2
x =carousel_data.loc[i3]

In [199]:
x.sort_values([0 , 'date'], inplace = True)
x = x.reset_index(drop=True)

C:\Users\vlkad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [201]:
crdata1 = x.drop_duplicates([0], keep = 'last')
crdata1 = crdata1.reset_index(drop=True)

In [202]:
crdata = x.drop_duplicates([0], keep = 'first')
crdata = crdata.reset_index(drop=True)

In [203]:
import tqdm
from tqdm import tqdm

rawparams = pd.DataFrame(index = [0],columns=['articleid','start','duration']).fillna(0)
for i in tqdm(range(crdata.shape[0])):
    artid = crdata[0][i]
    for j in range(crdata1.shape[0]):
        if crdata1[0][j] == artid:
            x1 = crdata1['date'][j] - crdata['date'][i]
    temp = pd.DataFrame(np.column_stack([artid,crdata['date'][i],x1]),columns=['articleid','start','duration'])
    rawparams = rawparams.append(temp,ignore_index=True)

100%|██████████████████████████████████████████████████████████████████████████████| 2313/2313 [00:46<00:00, 50.26it/s]

In [208]:
rawparams['duration'].value_counts()

0      1609
1       514
2        18
9        16
85       14
70       12
98        9
3         8
10        8
86        8
88        7
87        5
95        5
93        5
94        5
96        5
97        5
92        5
89        4
81        4
8         4
83        4
84        4
21        3
20        3
22        3
99        3
90        3
100       3
17        2
80        2
12        2
4         2
78        2
91        1
73        1
15        1
13        1
14        1
79        1
11        1
6         1
Name: duration, dtype: int64

In [209]:
rawparams

      articleid     start  duration
0             0         0         0
1             2  20190612         8
2            22  20190612         0
3            23  20190513        99
4            24  20190520       100
5            25  20190529        90
6            26  20190605        15
7            27  20190612         6
8            28  20190618         3
9            29  20190622         2
10           51  20190513         2
11           52  20190515         3
12           53  20190518         4
13           54  20190513        13
14           55  20190516        14
15           56  20190521        80
16           57  20190523        81
17           58  20190523        83
18           59  20190523        87
19           60  20190527        86
20           61  20190530        88
21           62  20190604        17
22           63  20190606        17
23           64  20190609         3
24           65  20190612         2
25           66  20190614         4
26           67  20190618         3
27           68  20190621         3
28           71  20190516         0
29          102  20190516         0
...         ...       ...       ...
2284       8060  20190624         0
2285       8061  20190624         0
2286       8062  20190624         0
2287       8063  20190624         0
2288       8064  20190624         0
2289       8065  20190624         0
2290       8066  20190624         0
2291       8067  20190624         0
2292       8068  20190624         0
2293       8069  20190624         0
2294       8071  20190624         0
2295       8072  20190624         0
2296       8073  20190624         0
2297       8074  20190624         0
2298       8075  20190624         0
2299       8076  20190624         0
2300       8077  20190624         0
2301       8078  20190624         0
2302       8079  20190624         0
2303       8080  20190624         0
2304       8081  20190624         0
2305       8083  20190624         0
2306       8084  20190624         0
2307       8085  20190624         0
2308       8086  20190624         0
2309       8087  20190624         0
2310       8088  20190624         0
2311       8089  20190624         0
2312       8090  20190624         0
2313       8092  20190624         0

[2314 rows x 3 columns]

In [205]:
crdata.shape

(2313, 2)